.center {

    position: relative;
    top: 30%;
    text-align: center;


}

.center-top{
    position: relative;
    top: 10%;
    text-align: center;

}
.page1 {
    height: 100%;

}

.page2 {
    height: 100%;

    background-color: #428bca;
    color: #FFFFFF;
	font-family: "Arial";
	font-size: 1.5em;
}
.text {
    width: 80%;
    text-align: center;
    left: 10%;
}
#appDownloadButton {
    cursor: pointer;
}
#link {
    cursor: pointer;
}
html, body
{
    height: 100%;

}
